* {
    margin: 0;
    font-family: "Roboto";
}

body {
    background-color: blanchedalmond;
    display:flex;
    justify-content: center;
    height: 100vh;
}

.container {
    border-style: solid;
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 30%);
    overflow: hidden;
}

.display {
    background-color: hsl(0, 0%, 40%);
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 2% 4%;
}

output {
    height: 100%;
    width: 100%; 
    font-size: 60px;
    text-align: end;
    color: white;
}

.input {
    background-color: hsl(0, 0%, 30%);
    height: 300px;
    display: flex;
    padding: 10px;
}

.left, .right {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

button {
    height: 50px;
    width: 65px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 50%);
    color: white;
    font-weight: bold;
}

button:hover {
    cursor:pointer;
}

.number {
    background-color: hsl(0, 0%, 50%);
}

[id="0"] {
    width: 135px;

}

.operator, #clear {
    background-color: hsl(39, 100%, 50%);
}

#delete {
    background-color: red;
}

#equal {
    background-color: hsl(39, 100%, 50%);
    height: 100px;
    
}


